<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <nav class="nav-wrapper" th:fragment="header">
            <div class="container">
                <div class="navbar rounded">
                    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/hexagon.png}" alt="logo"></a>
<!--                    <div class="navbar-brand"><a th:href="@{/}"><span class="k">K</span>AKYBAT</a></div>-->
                    <div class="menu-toggle" id="mobile-menu" th:onclick="toggleNavGroup()">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="nav-group" id="navGroup">
                        <ul class="nav" sec:authentication="">
                            <li class="nav-item"><a href="#" th:href="@{/}">Home</a> </li>
                            <li class="nav-item"><a href="#" th:href="@{/about}">About</a> </li>
                            <li class="nav-item"><a class="especial" href="#" th:href="@{/blog}">Blog</a> </li>
                            <li class="nav-item"><a href="#" th:href="@{/contact}">Contact</a> </li>
                        </ul>
                        <ul class="auth" sec:authorize="!isAuthenticated()">
                            <li><a th:href="@{/login}" class="btn btn-primary btn-md">Sign In</a></li>
                            <li><a th:href="@{/signup}" class="btn btn-gray btn-md">Sign Up</a></li>
                        </ul>
                        <ul class="auth" sec:authorize="isAuthenticated()" >
                            <li><a th:href="@{/logout}"  class="btn btn-gray btn-md">Logout</a></li>
<!--                            <li><a th:href="@{/dashboard}"><div class="user-img"><img th:src="@{/images/user.jpg}" alt="user"></div></a></li>-->
                            <li><a th:href="@{/dashboard}"><div class="user-img"><img th:src="@{'/userImage/' + ${user.imageFilePath}}" alt="user"></div></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>