<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <nav class="nav-wrapper" th:fragment="header">
            <div class="container">
                <div class="navbar rounded">
                    <a class="navbar-brand" th:href="@{/}">
                        <div class="logo">
                            <div class="logo-image"><img th:src="@{/images/k-logo.png}" alt="logo"></div>
                            <div class="logo-text">Kakybat</div>
                        </div>
                    </a>
<!--                    <div class="navbar-brand"><a th:href="@{/}"><span class="k">K</span>AKYBAT</a></div>-->
                    <div class="menu-toggle" id="mobile-menu" th:onclick="toggleNavGroup()">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="nav-group" id="navGroup">
                        <ul class="nav" sec:authentication="">
                            <li class="nav-item"><a th:href="@{/}">Home</a> </li>
                            <li class="nav-item"><a th:href="@{/about}">About</a> </li>
                            <li class="nav-item"><a class="especial" th:href="@{/blog}">Blog</a> </li>
                            <li class="nav-item"><a th:href="@{/contact}">Contact</a> </li>
                        </ul>
                        <ul class="auth" sec:authorize="!isAuthenticated()">
                            <li><a th:href="@{/login}" class="btn btn-md accent-back">Sign In</a></li>
<!--                            <li><a th:href="@{/signup}" class="btn btn-md secondary-back">Sign Up</a></li>-->
                            <li><a th:href="@{/public/register}" class="btn btn-md secondary-back">Sign Up</a></li>
                        </ul>
                        <ul class="auth" sec:authorize="isAuthenticated()" >
                            <li><a th:href="@{/logout}"  class="btn btn-md secondary-back">Logout</a></li>
                            <li class="end-to-center"><a th:href="@{/dashboard}"><div class="user-img"><img th:src="@{'/userImage/' + ${person.imageFilePath}}" alt="person"></div></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>