<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Action</title>
</head>
<body>
    <div class="two-col-grid grad-rad-back big-padding rounded" th:fragment="loginAction">
        <div class="start-to-center">
            <p> <b>To contribute a post, kindly proceed by signing in or creating an account.</b></p>
        </div>
        <div class="end-to-center">
            <a class="btn btn-grad btn-lg" th:href="@{/login}">Go to user page</a>
        </div>
    </div>
</body>
</html>