@import "style.css";
.about-header {

/*    */
}

.core-tech{
    background-image: linear-gradient(135grad, rgba(1,85,246,1) 0%, rgba(3,19,113,1) 45%, rgba(247,58,156,1) 100%);
    width: 380px;
    height: 240px;
    color: var(--light-color);
    letter-spacing: 1px;
    padding: var(--md-padding-size);
    box-shadow: 10px 150px 39px -80px rgba(247,58,156,0.6);
    transform: rotate3d(1, 0.5, 0.5, -30deg);
    transition: transform 0.3s ease-in-out;
    align-self: center;
}

.core-tech:hover{
    transform: rotate3d(0, 0, 0, 0deg);
}

.core-tech .ct-name {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.core-tech .ct-name .tech-box {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--dark-color);
    border: 1 var(--light-color) solid;
    overflow: hidden;
}
.core-tech .ct-name .tech-box img {
    object-fit: cover;
    border-radius: 50%;
    width: inherit;
    height: inherit;
}
.core-tech .core-lg {
    display: grid;
    font-size: var(--sm-font-size);
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.core-tech .frameworks{
    margin-top: 40px;
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: var(--primary-color);
    border-top-right-radius: var(--md-border-radius);
    border-top-left-radius: var(--md-border-radius);
}
.card-header h3 {

    font-size: var(--ml-font-size);
    margin: 20px auto;
    font-weight: normal;
}
.card-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background-color: var(--accent-color);
    border: 3px solid var(--light-color);
    border-radius: 50%;

}
.card-img-box img {
    width: 45px;
    height: 45px;
    object-fit: scale-down;
    transition: transform 0.3s ease;
}
.bx:hover .card-img-box img {
    transform: rotate(45deg);
}
.slider-container {
    max-width: 1020px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider-box {
    background-color: var(--light-color);
    color: var(--dark-color);
    min-width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*flex: 0 0 auto;*/
    padding: 20px;
    margin: 20px;
    border: 0 solid var(--gray-color);
}
.slider-box p {
    font-weight: normal;
    text-align: center;
    font-size: var(--sm-font-size);
    padding-top: 10px;
}
.tool-box{
    background-color: var(--light-color);
    color: var(--dark-color);
    min-width: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 20px 10px;
    margin: 10px;
}

.skill-percent {
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 5px 20px;
    font-weight: bolder;
    border-radius: var(--lg-border-radius);
    margin-top: 10px;
}
 #prevBtn, #nextBtn {
     border-radius: 50%;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     font-size: var(--lg-font-size);
     color: var(--accent-color);
     cursor: pointer;
     user-select: none;
 }
 #prevBtn {
     left: 0;
 }
 #nextBtn {
     right: 0;
 }
 .tbx-wrapper{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

 }
@media only screen and (max-width: 720px){
    .slider-box {
        max-width: 100%;
    }
}
