<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="images/png" th:href="@{/images/K.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <title th:text="${pageTitle}">No Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="section header-section">
        <div class="container rounded big-padding light-blue4-back">
            <h2 class="text-center" th:text="${pageTitle}">No Title</h2>
            <p class="title-sub">⎯ &#10023 ⎯</p>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="end-to-end"><div class="rounded md-padding light-back"><a class="btn btn-icon secondary-back" th:href="@{/posts/new}">+</a></div></div>
            <div class="posts-list"  th:each="post : ${posts}">
                <div class="post rounded light-back bx">
                    <div class="post-img">
                        <img th:src="@{'/postHeaderImage/' + ${post.imageFilePath}}" alt="Post Image">
                    </div>
                    <div class="post-desc">
                        <div class="post-desc-text">
                            <h3 th:text="${post.title}">Title</h3>
                            <p th:text="'&#x23F2; ' + ${#temporals.format(post.createdAt, 'MMMM d, yyyy')}" class="mr-b-md">Created At</p>
                            <p th:text="${post.shortDescription}" class="start-to-center light-gray-text">Short Description</p>
                        </div>
                        <div class="two-col-grid">
                            <div class="start-to-end fit-first-col">
                                <div class="user-img"><img th:src="@{'/userImage/' + ${post.getPerson().imageFilePath}}" alt="person"></div>
                                <div class="start-to-center"><p th:text="${post.getPerson().name}">Author</p></div>
                            </div>
                            <div class=" end-to-end"><a th:href="@{'/posts/' + ${post.id}}" class="btn btn-lg primary-back"> Read More &#x1F86A;</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" sec:authorize="!isAuthenticated()">
        <div class="container">
            <div th:replace="~{fragments/loginAction :: loginAction}"></div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>