<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="images/png" th:href="@{/images/K.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/blog.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <title th:text="${pageTitle}">No Title</title>
</head>
<body>
<main>
    <div class="light-grad-back">
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="section header-section">
            <div class="container big-padding">
                <h1 class="text-center" th:text="${pageTitle}">No Title</h1>
                <p class="title-sub">⎯ &#10044; ⎯</p>
            </div>
        </div>
    </div>
    <div class="section-pb-100">
        <div class="container">


            <div class="sorting-parent">

                    <div class="sorting-child">
                        <div class="sorting-child">
                            <a th:href="@{'/blog/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir} }" class="btn btn-md grad-back-two">By Title</a>
                        </div>
                        <div class="sorting-child">
                            <a th:href="@{'/blog/page/' + ${currentPage} + '?sortField=person.name&sortDir=' + ${reverseSortDir} }" class="btn btn-md grad-back-two">By Author</a>
                        </div>
                    </div>

                <div class="sorting-child">
                    <div class="rounded-sm sm-padding-around secondary-back">
                        <a class="btn btn-icon grad-back-two" th:href="@{/posts/new}">+</a>
                    </div>
                </div>
            </div>
            <div class="posts-list"  th:each="post : ${posts}">
                <div class="post rounded secondary-back bx">
                    <div class="post-img">
                        <img th:src="@{'/postHeaderImage/' + ${post.imageFilePath}}" alt="Post Image">
                    </div>
                    <div class="post-desc">
                        <div class="post-desc-text">
                            <div class="fit-first-col  mr-b-xsm">
                                <div class="icon-box-sm"><img th:src="@{/images/date.png}" alt="date"></div>
                                <div th:text="${#temporals.format(post.createdAt, 'MMMM d, yyyy')}" class="start-to-center light-gray-text">Created At</div>
                            </div>
                            <h3 th:text="${post.title}" class="mr-b-md">Title</h3>
                            <p th:text="${post.shortDescription}" class="start-to-center light-gray-text">Short Description</p>
                        </div>
                        <div class="two-col-grid">
                            <div class="start-to-end fit-first-col">
                                <div class="user-img"><img th:src="@{'/userImage/' + ${post.getPerson().imageFilePath}}" alt="person"></div>
                                <div class="start-to-center"><p th:text="${post.getPerson().name}">Author</p></div>
                            </div>
                            <div class=" end-to-end"><a th:href="@{'/posts/' + ${post.id}}" class="btn btn-lg btn-txt primary-back"> Read More <img th:src="@{/images/arrow_forward_16_dark.svg}" alt="back"></a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mr-t">
                <ul class="pagination-parent">
                    <li class="pagination-child">
                        <a th:if="${currentPage > 1}" th:href="@{'/blog/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                            <span class="btn btn-arrow grad-back-two" aria-hidden="true"><img th:src="@{/images/arrow_back_16_white.svg}" alt="back"></span>
                        </a>
                        <a th:unless="${currentPage > 1}" class="not-allowed" disabled="">
                            <span class="btn btn-arrow btn-passive" aria-hidden="true"><img th:src="@{/images/arrow_back_16_dark.svg}" alt="back"></span>
                        </a>
                    </li>
                    <span class="pagination-child" th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <li>
                            <a class="btn btn-icon btn-allow" th:if="${currentPage != i}" th:href="@{'/blog/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                            <a class="btn btn-icon grad-back-two" th:unless="${currentPage != i}">[[${i}]]</a>
                        </li>
                    </span>
                    <li class="pagination-child">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/blog/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                            <span class="btn btn-arrow grad-back-two" aria-hidden="true"><img th:src="@{/images/arrow_forward_16_white.svg}" alt="back"></span>
                        </a>
                        <a th:unless="${currentPage < totalPages}" class="not-allowed" disabled="">
                            <span class="btn btn-arrow btn-passive" aria-hidden="true"><img th:src="@{/images/arrow_forward_16_dark.svg}" alt="back"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section" sec:authorize="!isAuthenticated()">
        <div class="container">
            <div th:replace="~{fragments/loginAction :: loginAction}"></div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>