<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="images/png" th:href="@{/images/K.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <title th:text="${pageTitle}">No Title</title>
</head>
<body>
<!--<div th:replace="~{fragments/header :: header}"></div>-->
<main>
    <div class="light-grad-back">
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="section header-section">
            <div class="container big-padding">
                <h1 class="text-center" th:text="${pageTitle}">No Title</h1>
                <p class="title-sub">⎯ &#10023 ⎯</p>
            </div>
        </div>
    </div>
    <div class="section-pb-100">
        <div class="container">
            <div class="contact-form">
                <div class="contact-info rounded center-to-center grad-back-two">
                    <h3 class="text-center">Contact Information</h3>
                    <div>
                        <div class="fit-first-col md-padding">
                            <div class="icon-box"><img th:src="@{/images/emailto.png}" alt="email"></div>
                            <div class="start-to-center">contact@kakybat.com</div>
                        </div>
                        <div class="fit-first-col md-padding">
                            <div class="icon-box"><img th:src="@{/images/phone.png}" alt="phone"></div>
                            <div class="start-to-center">+7(xxx)xxx-xx-xx</div>
                        </div>
                        <div class="fit-first-col md-padding">
                            <div class="icon-box"><img th:src="@{/images/location.png}" alt="location"></div>
                            <div class="start-to-center">Kazakhstan, Almaty city</div>
                        </div>
                    </div>

                </div>
                <div class="form-container">
                    <h3 class="text-center">Send Me A Message &#x1F4EC;</h3>
<!--                    <ul>-->
<!--                        <li class="warning-msg" role="alert" th:each="error : ${#fields.errors('contact.*')}" th:text="${error}" />-->
<!--                    </ul>-->
                    <form id="contactForm" th:action="@{/saveMessage}" method="post" th:object="${contact}">
<!--                        <label for="contactName">Username:</label>-->
                        <input type="text" th:field="*{contactName}" placeholder="Name"/>
                        <div class="warning-msg" th:if="${#fields.hasErrors('contactName')}" th:errors="*{contactName}"></div>
<!--                        <label for="contactEmail">Your Email:</label>-->
                        <input type="text" th:field="*{contactEmail}" placeholder="Email" />
                        <div class="warning-msg" th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}"></div>
<!--                        <label for="Subject">Subject:</label>-->
                        <input type="text" th:field="*{contactSubject}" placeholder="Subject"/>
                        <div class="warning-msg" th:if="${#fields.hasErrors('contactSubject')}" th:errors="*{contactSubject}"></div>
<!--                        <label for="contactMessage">Your Message:</label>-->
                        <textarea th:field="*{contactMessage}" rows="4" placeholder="Message ..."></textarea>
                        <div class="warning-msg" th:if="${#fields.hasErrors('contactMessage')}" th:errors="*{contactMessage}"></div>
                        <button class="btn btn-md grad-back-two">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>