<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="images/png" th:href="@{/images/K.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <title th:text="${pageTitle}">No Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="section header-section">
        <div class="container rounded big-padding light-blue4-back">
            <h2 class="text-center" th:text="${pageTitle}">No Title</h2>
            <p class="title-sub">⎯ &#10023 ⎯</p>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2 class="text-center">Get in Touch</h2>
            <hr class="dark-hr">
            <div class="contact-form">
                <div class="contact-info rounded center-to-center">
                    <h3 class="text-center">Contact Information</h3>
                    <div>
                        <p class="md-padding"><b>Personal Email:</b> kakybat@gmail.com</p>
                        <p class="md-padding"><b>Phone Number:</b> +7(777)016-73-64</p>
                        <p class="md-padding"><b>Address:</b> Kazakhstan, Almaty city</p>
                    </div>

                </div>
                <div class="form-container">
                    <h3 class="text-center">&#x270D; Send Me A Message</h3>
                    <ul>
                        <li class="warning-msg" role="alert" th:each="error : ${#fields.errors('contact.*')}" th:text="${error}" />
                    </ul>
                    <form id="contactForm" th:action="@{/saveMessage}" method="post" th:object="${contact}">
<!--                        <label for="contactName">Username:</label>-->
                        <input type="text" th:field="*{contactName}" placeholder="Name"/>
<!--                        <label for="contactEmail">Your Email:</label>-->
                        <input type="text" th:field="*{contactEmail}" placeholder="Email" />
<!--                        <label for="Subject">Subject:</label>-->
                        <input type="text" th:field="*{contactSubject}" placeholder="Subject"/>
<!--                        <label for="contactMessage">Your Message:</label>-->
                        <textarea th:field="*{contactMessage}" rows="4" placeholder="Message ..."></textarea>
                        <button class="btn accent-back btn-md">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>