<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="images/png" th:href="@{/images/K.png}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
        <title th:text="${pageTitle}">Title</title>
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <main>
            <div class="section header-section">
                <div class="container">
                    <h2 class="text-center" th:text="${pageTitle}">Title</h2>
                    <p class="title-sub">⎯ &#10023 ⎯</p>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="form-container-lg">
                        <h2>User Information</h2>
                        <form th:action="@{/update_me}" th:object="${person}" enctype="multipart/form-data" method="post">
                            <label for="imageFilePath">Upload your image:</label>
                            <input type="file" id="imageFilePath" name="file" accept="image/png, image/jpeg, image/jpg, image/bmp" class="primary-back rounded md-padding">
                            <div th:errors="*{imageFilePath}" class="warning-msg" th:if="${#fields.hasErrors('imageFilePath')}"></div>
                            <label for="name">Update your name if necessary:</label>
                            <input type="text" id="name" name="lastName" th:field="*{name}" placeholder="last name" required>
                            <div th:errors="*{name}" class="warning-msg" th:if="${#fields.hasErrors('name')}"></div>
                            <div>
                                <a class="btn btn-md secondary-back" th:href="@{/dashboard}">BACK</a>
                                <button type="submit" class="btn btn-md accent-back">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
        <script th:src="@{/js/header.js}"></script>
    </body>
</html>