<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="images/png" th:href="@{/images/K.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <title th:text="${myPost.title}">Post Details</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
        <div class="section header-section">
            <div class="container">
                <h2 class="text-center" th:text="${myPost.title}">No Title</h2>
                <p class="title-sub">⎯ &#10023 ⎯</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="light-back rounded">
                    <div class="post-header-image">
                        <img th:src="@{'/postHeaderImage/' + ${myPost.imageFilePath}}" alt="post-image">
                        <div class="btn-over"><a class="btn btn-arrow primary-back box-shadow" th:href="@{/blog}">&#x1F860;</a></div>
                    </div>
                    <div class="post-padding">

                        <div class="post-content">

                            <p th:text="'&#x23F2; Published : ' + ${#temporals.format(myPost.createdAt, 'MMMM d, yyyy')}">Created At</p>
                            <p th:text="'&#x23F2; Updated   : ' + ${#temporals.format(myPost.updatedAt, 'MMMM d, yyyy')}" class="post-time mr-b-md">Updated At</p>


                            <div class="start-to-end fit-first-col mr-b-md">
                                <div class="user-img"><img th:src="@{'/userImage/' + ${myPost.getPerson().imageFilePath}}" alt="person"></div>
                                <div class="start-to-center"><p th:text="${myPost.getPerson().name}">Author</p></div>
                            </div>
                            <div class="post-short-desc"><p th:text="${myPost.shortDescription}">Short description</p></div>
                            <div class="post-body"><p th:utext="${myPost.body}">Post Body</p></div>

                            <div th:if="${#authentication.name} == ${myPost.getPerson().getEmail()}" class="mr-t">
                                <a th:href="@{'/posts/' + ${myPost.id} + '/edit'}" class="btn btn-md secondary-back">&#9998 Edit</a>
                                <a th:href="@{'/posts/' + ${myPost.id} + '/delete'}" class="btn btn-md danger-back">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-pb-100">
            <div class="container">
                <div class="post-padding light-back rounded">
                    <h4 class="mr-b-md">Comments</h4>
                    <!-- Display comments -->
                    <div th:each="comment : ${myPost.comments}" class="mr-b-md">
                        <div class="fit-first-col">
                            <div class="start-to-start">
                                <div class="user-img"><img th:src="@{'/userImage/' + ${comment.person.imageFilePath}}" alt="person"></div>
                            </div>
                            <div class="primary-back rounded md-padding">
                                <div class="start-to-start mr-b-xsm"><p><b th:text="${comment.person.name}">Author</b></p></div>
                                <div class="body-body" th:text="${comment.body}"></div>
                                <div th:text="'&#x1F4C5; ' + ${#temporals.format(comment.createdAt, 'MMMM d, yyyy')}" class="end-to-end sm-font"></div>
                                <div th:if="${#authentication.name == comment.person.email} or ${#authentication.name == 'admin@example.com'}" class="end-to-end">
                                    <a th:href="@{'/myPostComments/deleteComment/' + ${comment.commentId}}" class="btn btn-sm danger-back">Delete Comment</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="post-padding light-back rounded mr-t">
                    <!-- Comment form -->
                    <form th:action="@{'/myPosts/'+ ${myPost.id} +'/comments'}" th:object="${newComment}" method="post" class="body-form">
                        <label for="body-body">Your Comment</label>
                        <textarea th:field="*{body}" id="body-body" name="body" rows="4" cols="50" placeholder="Write a comment" required></textarea>

                        <button type="submit" class="btn btn-md secondary-back">Publish Comment</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="section light-back" sec:authorize="!isAuthenticated()">
            <div class="container">
                <div th:replace="~{fragments/loginAction :: loginAction}"></div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:src="@{/js/header.js}"></script>
</body>
</html>