<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="images/png" th:href="@{/images/K.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/p404.css}">
    <title>404</title>
</head>
<body>
    <main>
        <div class="section">
            <div class="p404-container gray-back rounded">
                <div class="p404-image-box rounded">
                    <img th:src="@{/images/404.jpg}" alt="404">
                </div>
                <h1 class="text-center">Something went wrong !!!</h1>
                <div><a th:href="@{/}" class="btn btn-lg btn-danger">Back to Home</a> </div>
            </div>
        </div>

    </main>
</body>
</html>