<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="images/png" th:href="@{/images/K.png}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
  <title th:text="${pageTitle}">Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
  <div class="section header-section">
    <div class="container">
      <h2 class="text-center" th:text="${pageTitle}">Title</h2>
      <p class="title-sub">⎯ &#10023 ⎯</p>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="form-container-lg">
        <h2 class="mr-b-md">Personal Details</h2>
        <ul>
          <li class="warning-msg" role="alert" th:each="error : ${#fields.errors('profile.*')}" th:text="${error}" />
        </ul>

        <form id="signupForm" th:action="@{/updateProfile}" th:object="${profile}" enctype="multipart/form-data" method="post">

          <label class="control-label" for="name">Name:</label>
          <input type="text" id="name" th:field="*{name}" />
          <div th:errors="*{name}" class="warning-msg" th:if="${#fields.hasErrors('name')}"></div>
          <label class="control-label" for="email">Email:</label>
          <input type="text" id="email"th:field="*{email}" />
          <div th:errors="*{email}" class="warning-msg" th:if="${#fields.hasErrors('email')}" hidden="hidden"></div>


          <h3 class="text-center mr-b-md">Address Details</h3>


          <label class="control-label" for="address1">Address Line 1:</label>
          <input type="text" th:field="*{address1}" id="address1" />

          <label for="address2"> Address Line 2:</label>
          <input type="text" th:field="*{address2}" id="address2" />

          <label class="control-label" for="city">City:</label>
          <input type="text" th:field="*{city}" id="city" />

          <div class="two-col-grid mr-b-md">
            <div class="form-element">
              <label class="control-label" for="state">State:</label>
              <input type="text" th:field="*{state}" id="state" />
            </div>
            <div class="form-element">
              <label class="control-label" for="zipCode">Zip Code:</label>
              <input type="text" th:field="*{zipCode}" id="zipCode" />
            </div>
          </div>

          <div>
            <a th:href="@{/dashboard}">
                <button class="btn btn-md secondary-back" th:formaction="@{/dashboard}">BACK</button>
            </a>
            <button type="submit" class="btn btn-md accent-back">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>