<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
  <title th:text="${pageTitle}">No Title</title>
</head>
<body>
<main>
  <div class="light-grad-back">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="section header-section">
      <div class="container big-padding">
        <h1 class="text-center" th:text="${pageTitle}">No Title</h1>
        <p class="title-sub">⎯ &#10023 ⎯</p>
      </div>
    </div>
  </div>
  <div class="section-pb-100">
    <div class="container">
      <div class="form-container" id="signupContainer">

        <h3 class="text-center">Welcome! &#x1F389;</h3>
        <p class="text-center">Please, enter your details and start your work!</p>

        <ul>
          <li class="success-msg" th:if="${!#strings.isEmpty(registerMessage)}" th:text="${registerMessage}" />
        </ul>

        <form id="signupForm" th:action="@{/public/createUser}"  method="post" th:object="${person}">
          <input type="text" th:field="*{name}" placeholder="Full name" />
          <div class="warning-msg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

          <input type="text" th:field="*{email}" placeholder="Your email" />
          <div class="warning-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

          <input type="text" th:field="*{confirmEmail}" placeholder="Confirm email" />
          <div class="warning-msg" th:if="${#fields.hasErrors('confirmEmail')}" th:errors="*{confirmEmail}"></div>

          <div class="two-col-grid">
            <div class="form-element">
              <input type="password" th:field="*{password}" placeholder="Password" />
            </div>
            <div class="form-element">
              <input type="password" th:field="*{confirmPassword}" placeholder="Confirm password" />
            </div>
          </div>
          <div class="warning-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          <div class="warning-msg" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>

          <button type="submit" class="btn btn-md grad-back-two mr-t-sm">Register Now</button>
        </form>
        <div class="form-switcher">
          <p> Already have an account? <a th:href="@{/login}">Login here</a>. </p>
        </div>
      </div>
    </div>
  </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>